.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 40px;

  background: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b")
    no-repeat center center;
  background-size: cover;
}

.taskCard {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
}

button {
  margin: 5px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.addBtn {
  background: #4CAF50;
  color: white;
}

.doneBtn {
  background: #2196F3;
  color: white;
}

.deleteBtn {
  background: #f44336;
  color: white;
}

.editBtn {
  background: #ff9800;
  color: white;
}

.filterBtn {
  background: #555;
  color: white;
}